@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap");
:root {
  --primery-text-color: #757575;
  --title-text-color: #2196f3;
  --accent-color: #212121;
  --white-color: #ffffff;
  --typical-gap: 30px;
  --next-typical-gap: 94px;
  --fill-color: #f5f4fa;
  --svg-color: #afb1b8;
  --main-font: "Roboto", sans-serif;
  --second-font: "Raleway", sans-serif;
  --bg-gradi: rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: var(--main-font);
  letter-spacing: 0.03em;
  background-color: var(--white-color);
  color: var(--primery-text-color);
}

body.modal-open {
  overflow: hidden;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ol,
ul,
li {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

.link {
  text-decoration: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.button-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 40px;
  width: 320px;
}
@media screen and (min-width: 768px) {
  .button-list {
    margin-bottom: 30px;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .button-list {
    margin-bottom: 50px;
  }
}

.button-item {
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  cursor: pointer;
  background-color: var(--fill-color);
  border: none;
  border-radius: 4px;
  height: 38px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-item:hover, .button-item:focus {
  color: var(--white-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  background-color: var(--title-text-color);
}

.all-btn {
  width: 64px;
}

.web-btn {
  width: 120px;
}

.apps-btn {
  width: 83px;
}

.design-btn {
  width: 96px;
}

.marketing-btn {
  width: 121px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  overflow-y: scroll;
  overflow: hidden;
  -webkit-transition: opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transition: 500ms, visibility 0s 0.5s;
  transition: 500ms, visibility 0s 0.5s;
}

.modal-open {
  overflow: hidden;
  padding-right: calc(100vw - 100%);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: calc(100% - 30px);
  max-height: 90vh;
  background-color: var(--white-color);
  border-radius: 4px;
  padding: 40px;
  overflow-y: auto;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  -webkit-animation: scaleIn 0.5s cubic-bezier(0.4, 0, 0.2, 1) forwards;
          animation: scaleIn 0.5s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}
@media screen and (min-width: 480px) and (max-width: 1199px) {
  .modal {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}

.modal-close-btn {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--white-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  padding: 0;
}
.modal-close-btn:hover {
  fill: var(--title-text-color);
}

.modal-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.0454545455;
  text-align: center;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  color: #212121;
  margin-bottom: 30px;
}

.modal-form-title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  width: 100%;
  max-width: 370px;
  height: 60px;
}
@media screen and (min-width: 1199px) {
  .modal-form-title {
    width: 448px;
    height: 23px;
  }
}
@media screen and (min-width: 1200px) {
  .modal-form-title {
    line-height: 1.15;
  }
}

.form-field {
  margin-bottom: 10px;
}

.label-title {
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: var(--primery-text-color);
}

.label-input {
  outline: none;
  height: 40px;
  width: 100%;
  max-width: 370px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.label-input:hover, .label-input:focus {
  border-color: var(--title-text-color);
}
@media screen and (min-width: 1200px) {
  .label-input {
    width: 448px;
    height: 40px;
  }
}

.label-input:hover + .form-icon,
.label-input:focus + .form-icon {
  fill: var(--title-text-color);
}

.form-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field.textarea {
  margin-bottom: 20px;
}

.label-textarea {
  outline: none;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  resize: none;
}
.label-textarea:focus-within {
  border-color: var(--title-text-color);
}
.label-textarea:hover, .label-textarea:focus {
  border-color: var(--title-text-color);
}

.label-textarea::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.label-textarea::-moz-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.label-textarea:-ms-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.label-textarea::-ms-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.label-textarea::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-field.checkbox-field {
  margin-bottom: 30px;
}

.checkbox-input {
  display: block;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.link-policy {
  color: var(--title-text-color);
  text-decoration-line: underline;
}

.privacy-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--primery-text-color);
  background-color: var(--white-color);
}
@media screen and (max-width: 1199px) {
  .privacy-text {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
}
@media screen and (min-width: 1200px) {
  .privacy-text {
    font-size: 14px;
    line-height: 1.7142857143;
  }
}

span {
  color: #000000;
}

.checkbox-input:checked + .privacy-text span {
  background-color: var(--title-text-color);
  border: none;
}

.checkbox-input:checked + .privacy-text .checkbox-icon {
  fill: var(--white-color);
}

.checkbox-input:hover + .privacy-text span,
.checkbox-input:focus + .privacy-text span {
  border-color: var(--title-text-color);
}

.icon-check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
  margin-right: 8px;
  width: 16px;
  height: 15px;
  border: 2px solid var(--accent-color);
  border-radius: 3px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-icon {
  fill: transparent;
}

@media screen and (max-width: 479px) {
  .checkbox-field {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.modal-form-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 200px;
  height: 50px;
  margin: 0 auto;
  padding: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  background: var(--title-text-color);
  border: none;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.modal-form-button:hover, .modal-form-button:focus {
  background: #188ce8;
}

.modal-form-icon {
  position: relative;
  display: block;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field:focus-within .form-icon {
  fill: var(--title-text-color);
}

.form-field:focus-within .label-input {
  border-color: var(--title-text-color);
}

.button {
  cursor: pointer;
}

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}
.menu-icon {
  color: var(--accent-color);
  -webkit-transition: fill 0.2s ease;
  transition: fill 0.2s ease;
}

.menu-toggle:hover .menu-icon {
  fill: var(--title-text-color);
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  padding: 48px 32px 48px 40px;
  background-color: var(--white-color);
  z-index: 999;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
}

.menu-container.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: var(--white-color);
}

.mobile-menu {
  display: block;
  padding: 10px;
  color: var(--white-color);
  text-decoration: none;
}

.mobile-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  font-weight: 500;
  letter-spacing: 0.02em;
}

.mobile-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
  font-size: 40px;
  line-height: 46px;
}

.mobile-link {
  color: var(--accent-color);
  -webkit-transition: color 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-link:hover, .mobile-link:focus {
  color: var(--title-text-color);
}
.mobile-link:active {
  color: var(--title-text-color);
}
.mobile-link.active {
  color: var(--title-text-color);
}

.mobile-tel-link {
  font-size: 34px;
  line-height: 39px;
  color: var(--title-text-color);
}

.mob-email-item {
  margin-top: 32px;
  margin-bottom: 64px;
}

.mobile-email-item {
  font-size: 24px;
  line-height: 28px;
  color: var(--primery-text-color);
}

.mobile-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -10px;
}

.mobile-socials-item {
  position: relative;
  margin: 10px;
}

.mobile-socials-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.222;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

.mobile-socials-item:not(:last-child)::after {
  content: "";
  position: absolute;
  right: -10px;
  width: 1px;
  height: 100%;
  background-color: rgba(33, 33, 33, 0.2);
}

.header > .container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 60px;
  background-color: var(--white-color);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 768px) {
  .header > .container {
    height: 80px;
    position: relative;
  }
}
@media screen and (max-width: 768px) {
  .header > .container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.header-list {
  display: block;
  color: var(--accent-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header__item {
  margin-right: 50px;
}
.header__item:last-child {
  margin-right: 0;
}

.header-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding: 0;
  margin: 0;
  list-style: none;
}
@media (max-width: 767px) {
  .header-list {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .main-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .main-nav {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.logo-head {
  font-family: var(--second-font);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-right: 0;
}
@media screen and (min-width: 1200px) {
  .logo-head {
    font-size: 26px;
    margin-right: 93px;
  }
}

.accent1 {
  color: var(--accent-color);
}

@media screen and (max-width: 767px) {
  .main-nav {
    display: none;
  }
}

.nav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__studio,
.nav__portfolio,
.nav__contact {
  position: relative;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-block;
  color: var(--accent-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
}
.nav__studio:hover, .nav__studio:focus,
.nav__portfolio:hover,
.nav__portfolio:focus,
.nav__contact:hover,
.nav__contact:focus {
  color: var(--title-text-color);
}

.nav__portfolio,
.nav__contact {
  color: var(--accent-color);
}

.current {
  position: relative;
  color: var(--title-text-color);
}

.current::after {
  content: "";
  position: absolute;
  height: 4px;
  background-color: var(--title-text-color);
  bottom: -1px;
  display: block;
  width: 100%;
  border-radius: 2px;
  right: 0;
}

.contact-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 40px;
  font-size: 14px;
  line-height: 1.17;
}

.contact__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-icon {
  position: relative;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-block;
  margin-right: 10px;
  fill: currentColor;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  vertical-align: middle;
}

.contact-mail__link,
.contact-tel__link {
  position: relative;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.3px;
  color: var(--primery-text-color);
  padding-top: 32px;
  padding-bottom: 32px;
}
.contact-mail__link:hover, .contact-mail__link:focus,
.contact-tel__link:hover,
.contact-tel__link:focus {
  color: var(--title-text-color);
}

.contact-mail__link:hover .contact-icon,
.contact-mail__link:focus .contact-icon,
.contact-tel__link:hover .contact-icon,
.contact-tel__link:focus .contact-icon {
  fill: var(--title-text-color);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contact-list {
    gap: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 114px;
  }
  .contact-tel__link {
    margin-left: -1px;
    margin-bottom: -12px;
  }
  .contact-mail__link,
  .contact-tel__link {
    padding-top: 0;
    padding-bottom: 10px;
    font-size: 12px;
  }
  .header-list {
    margin-left: 93px;
  }
  .contact-icon {
    width: 13px;
    height: 14px;
    margin-right: 7px;
  }
}
.hero {
  max-width: 1600px;
  height: 400px;
  margin: 0 auto;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-color: #2f303a;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-top: 1px solid #ececec;
  background-image: -webkit-gradient(linear, left top, left bottom, from(var(--bg-gradi))), url(../../images/background/bg-mob1x-min.jpg);
  background-image: linear-gradient(var(--bg-gradi)), url(../../images/background/bg-mob1x-min.jpg);
}
@media screen and (min-width: 768px) {
  .hero {
    height: 400px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(var(--bg-gradi))), url(../../images/background/bg-tab1x-min.jpg);
    background-image: linear-gradient(var(--bg-gradi)), url(../../images/background/bg-tab1x-min.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    height: 600px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(var(--bg-gradi))), url(../../images/background/bg-desk1x-min.jpg);
    background-image: linear-gradient(var(--bg-gradi)), url(../../images/background/bg-desk1x-min.jpg);
  }
}
@media (min-device-pixel-ratio: 2x), (min-resolution: calc(2x * 96dpi)) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(var(--bg-gradi))), url(../../images/background/bg-mob2x-min.jpg);
    background-image: linear-gradient(var(--bg-gradi)), url(../../images/background/bg-mob2x-min.jpg);
  }
}
@media (min-device-pixel-ratio: 3x), (min-resolution: calc(3x * 96dpi)) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(var(--bg-gradi))), url(../../images/background/bg-mob3x-min.jpg);
    background-image: linear-gradient(var(--bg-gradi)), url(../../images/background/bg-mob3x-min.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2x), screen and (min-width: 768px) and (min-resolution: calc(2x * 96dpi)) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(var(--bg-gradi))), url(../../images/background/bg-tab2x-min.jpg);
    background-image: linear-gradient(var(--bg-gradi)), url(../../images/background/bg-tab2x-min.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 3x), screen and (min-width: 768px) and (min-resolution: calc(3x * 96dpi)) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(var(--bg-gradi))), url(../../images/background/bg-tab3x-min.jpg);
    background-image: linear-gradient(var(--bg-gradi)), url(../../images/background/bg-tab3x-min.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2x), screen and (min-width: 1200px) and (min-resolution: calc(2x * 96dpi)) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(var(--bg-gradi))), url(../../images/background/bg-desk2x-min.jpg);
    background-image: linear-gradient(var(--bg-gradi)), url(../../images/background/bg-desk2x-min.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 3x), screen and (min-width: 1200px) and (min-resolution: calc(3x * 96dpi)) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(var(--bg-gradi))), url(../../images/background/bg-desk3x-min.jpg);
    background-image: linear-gradient(var(--bg-gradi)), url(../../images/background/bg-desk3x-min.jpg);
  }
}
@media screen and (min-width: 320px) and (max-width: 1199px) {
  .hero {
    padding-top: 118px;
    padding-bottom: 118px;
  }
}

.hero-title {
  display: inline-block;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6153846154;
  letter-spacing: 0.06em;
  color: var(--white-color);
  margin-bottom: var(--typical-gap);
  max-width: 360px;
  height: 84px;
  text-transform: uppercase;
}
@media screen and (min-width: 1200px) {
  .hero-title {
    font-size: 44px;
    line-height: 1.3636363636;
    max-width: 696px;
    height: 120px;
  }
}

.hero-title__button {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  text-decoration: none;
  color: var(--white-color);
  background-color: var(--title-text-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-title__button:hover, .hero-title__button:focus {
  background-color: #188ce8;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.portfolio-main {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .portfolio-main {
    padding-top: var(--next-typical-gap);
    padding-bottom: var(--next-typical-gap);
  }
}

.cards-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.card-item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 450px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  position: relative;
  overflow: hidden;
}
.card-item:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
@media screen and (min-width: 768px) {
  .card-item {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .card-item {
    width: 370px;
  }
}

.item-content {
  padding: 20px 24px;
  border-bottom: 1px solid #ececec;
  border-left: 1px solid #ececec;
  border-right: 1px solid #ececec;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.main-title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
}

.main-work {
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
}

.card-item:hover .action-cover-text {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.action-cover-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 63px 24px;
  height: 100%;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--white-color);
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(101%);
          transform: translateY(101%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.action-cover {
  position: relative;
  overflow: hidden;
}

.section-features {
  padding-top: 60px;
  padding-bottom: 30px;
  margin: 0 auto;
}
@media screen and (min-width: 1200px) {
  .section-features {
    padding-top: var(--next-typical-gap);
    padding-bottom: var(--next-typical-gap);
  }
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.feature__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 768px) {
  .feature__item :nth-child(2n) {
    margin-right: 0;
  }
}
@media screen and (min-width: 1200px) {
  .feature__item {
    margin-right: var(--typical-gap);
  }
}

.feature__item:nth-child(4n) {
  margin-right: 0;
}

.feature__item:nth-last-child(-n+4) {
  margin-bottom: 0;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .feature__item:nth-last-child(-n+4) {
    margin-right: 30px;
  }
  .feature__item:nth-last-child(-n+4):nth-child(2n) {
    margin-right: 0;
  }
}

.thumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  border-radius: 4px;
  max-width: 450px;
  height: 120px;
}
@media screen and (min-width: 768px) {
  .thumb {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .thumb {
    width: 270px;
  }
}

.feature__benefits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .feature__benefits {
    display: block;
  }
}

.feature__text {
  max-width: 450px;
  height: auto;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .feature__text {
    max-width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .feature__text {
    max-width: 270px;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 1199px) {
  .to-do-section {
    display: none;
  }
}

.to-do {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  text-align: center;
  color: var(--accent-color);
}

.to-do-section {
  padding-bottom: var(--next-typical-gap);
}

.our-work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.thumb-to-do {
  position: relative;
}

.to-do-item__text {
  bottom: 0;
  width: 100%;
  position: absolute;
  background: rgba(47, 48, 58, 0.8);
  padding-top: 27px;
  padding-bottom: 27px;
  margin: 0 auto;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
}

.team-members {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}
.team-list__item {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: var(--white-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 768px) {
  .team-list__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team-list__item {
    -ms-flex-preferred-size: calc((100% - 90px) / 4);
        flex-basis: calc((100% - 90px) / 4);
  }
}

.our-team {
  width: 100%;
  height: 33px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
  text-align: center;
  color: var(--accent-color);
}
@media screen and (min-width: 1200px) {
  .our-team {
    font-size: 36px;
    line-height: 1.16;
    margin-bottom: 50px;
  }
}

.card-name__pre-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--accent-color);
}

.main-title {
  color: var(--accent-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.main-work {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

.card-name__post-text {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  margin: 0px;
  margin-bottom: 16px;
}

.section-our-team {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--fill-color);
}
@media screen and (min-width: 1200px) {
  .section-our-team {
    padding-top: var(--next-typical-gap);
    padding-bottom: var(--next-typical-gap);
  }
}

.card-name {
  padding-top: var(--typical-gap);
  padding-bottom: var(--typical-gap);
}

.soc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.soc__item {
  margin-left: 10px;
}
.soc__item:first-child {
  margin-left: 0;
}

.soc-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: background-color 0.5s cubic-bezier(0.4, 0, 0.2, 1), fill 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 0.5s cubic-bezier(0.4, 0, 0.2, 1), fill 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--white-color);
  fill: var(--svg-color);
}
.soc-link:hover, .soc-link:focus {
  background-color: var(--title-text-color);
  fill: var(--white-color);
}

.clients {
  padding: 60px 0 60px 0;
}
@media screen and (min-width: 1200px) {
  .clients {
    padding: 94px 0 94px 0;
  }
}

.clients-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  text-align: center;
  color: var(--accent-color);
}
@media screen and (min-width: 1200px) {
  .clients-title {
    font-size: 36px;
    line-height: 42px;
  }
}

.clients-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.clients-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 92px;
  fill: var(--svg-color);
  border: 1px solid #afb1b8;
  border-radius: 4px;
  -webkit-transition: border-color 0.5s cubic-bezier(0.4, 0, 0.2, 1), fill 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 0.5s cubic-bezier(0.4, 0, 0.2, 1), fill 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-list__link:hover, .clients-list__link:focus {
  fill: var(--title-text-color);
  border-color: var(--title-text-color);
}

.clients-list__item {
  border-radius: 0px 0px 4px 4px;
  width: calc((100% - 30px) / 2);
}
@media screen and (min-width: 768px) {
  .clients-list__item {
    width: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients-list__item {
    width: calc((100% - 150px) / 6);
  }
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
@media screen and (min-width: 1200px) {
  .footer-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

.logo-foot {
  color: var(--title-text-color);
  font-family: var(--second-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  margin-bottom: 28px;
  display: block;
}

@media screen and (max-width: 1199px) {
  .footer-nav {
    margin-bottom: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (max-width: 767px) {
  .footer-nav {
    width: 100%;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-nav {
    margin-right: 40px;
  }
}

.footer-address,
.footer-contacts {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.41px;
  letter-spacing: 0.03em;
}

.footer-address {
  color: var(--white-color);
}

.foot-details {
  margin-bottom: 9px;
}

.footer-contacts {
  color: rgba(255, 255, 255, 0.6);
}

.accent2 {
  color: var(--white-color);
}

.footer-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-title {
    margin-top: 7px;
  }
}

@media screen and (max-width: 1199px) {
  .footer-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (max-width: 1199px) {
  .footer-links {
    margin-bottom: 60px;
  }
}
@media screen and (max-width: 767px) {
  .footer-links {
    width: 100%;
  }
}

.footer-address {
  color: var(--white-color);
  cursor: pointer;
}

.footer-social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-social-item {
  margin-left: 10px;
  display: inline-block;
}
.footer-social-item:first-child {
  margin-left: 0;
}

.footer-social-link {
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--white-color);
}
.footer-social-link:hover, .footer-social-link:focus {
  background-color: var(--title-text-color);
  color: var(--white-color);
}

.footer-social-icon {
  fill: currentColor;
}

@media screen and (max-width: 1199px) {
  .form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .form {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .form {
    margin-left: auto;
    width: 570px;
  }
}

.form-sign {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.input-form {
  width: 100%;
  height: 50px;
  padding-left: 16px;
  margin-right: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
}
@media screen and (max-width: 768px) {
  .input-form {
    margin-right: 0;
  }
}
@media screen and (min-width: 1200px) {
  .input-form {
    width: 358px;
    margin-right: 10px;
  }
}

.input-form:-moz-placeholder-shown {
  padding-left: 16px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.input-form:-ms-input-placeholder {
  padding-left: 16px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.input-form:placeholder-shown {
  padding-left: 16px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.input-form:-moz-placeholder-shown:focus {
  color: var(--white-color);
}
.input-form:-ms-input-placeholder:focus {
  color: var(--white-color);
}
.input-form:placeholder-shown:focus {
  color: var(--white-color);
}

.form-wrap {
  width: 100%;
}
@media screen and (min-width: 1200px) {
  .form-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.form-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 200px;
  height: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background-color: var(--title-text-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  border: none;
  padding: 1px 0 0 0;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-btn:hover, .form-btn:focus {
  background-color: var(--title-text-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
@media screen and (max-width: 1199px) {
  .form-btn {
    margin: 0 auto;
    margin-top: 20px;
  }
}
.icon-form {
  margin-left: 10px;
  fill: currentColor;
  margin-top: -1px;
}

.form-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}/*# sourceMappingURL=main.css.map */