
// @media screen and (max-width: 767px) {
//     .nav-list__item:not(:last-child) {
//         margin-bottom: 32px;
//     }
// }

// @media screen and (max-width: 479px) {
//     .nav-list__item:not(:last-child) {
//         margin-bottom: 32px;
//     }
// }

// @media screen and (min-width: 768px) {
//     .nav-list__item:not(:last-child) {
//         margin-right: 50px;
//     }
// }

.header-list {
    display: block;
    color: var(--accent-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.header__item {
    margin-right: 50px;

    &:last-child {
        margin-right: 0;
    }
}

.main {
    margin: 94px 200px;
}

.header {
    height: 60px;
    background-color: var(--white-color);

    @media screen and (min-width: 768px) {
        border-bottom: 1px solid #ECECEC;
        height: 80px;
    }
}

.header>.container {
    @media screen and (min-width: 768px) {
        height: 80px;
    }

    align-items: center;
    display: flex;

}

// .header>.container {
//     border-bottom: 1px solid #ECECEC;
//     width: 100%;
//     height: 60px;

//     @media screen and (min-width: 768px) {
//         height: 80px;
//     }
// }

// .header .container {
//     display: flex;
//     align-items: center;
// }

.header-list {
    display: flex;
    position: relative;
    padding: 0;
    margin: 0;
    list-style: none;

    @media (max-width: 767px) {
        display: none;
    }
}


.header-item {
    margin-right: 30px;
}

.main-nav {
    display: none;
    align-items: center;

    @media screen and (min-width: 768px) {
        display: flex;
    }
    
    @media screen and (min-width: 1200px) {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.header-connect {
    display: flex;
    // margin-left: auto;
    align-items: center;
    justify-content: center;
    margin-left: 301px;
}




// @media screen and (min-width: 768px) {
//     .header .container {
//         height: 80px;
//     }
// }


// .header-tab {
//     display: flex;
//     width: 100%;
// }

// @media screen and (max-width: 767px) {
//     .header-tab {
//         display: none;
//     }
// }