.hero {
  max-width: 1600px;
  height: 400px;
  margin: 0 auto;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-color: #2f303a;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-top: 1px solid #ececec;

  background-image: linear-gradient(var(--bg-gradi)),
    url(../images/background/bg-mob1x-min.jpg);

  @media screen and (min-width: 768px) {
    height: 400px;
    background-image: linear-gradient(var(--bg-gradi)),
      url(../images/background/bg-tab1x-min.jpg);
  }

  @media screen and (min-width: 1200px) {
    height: 600px;
    background-image: linear-gradient(var(--bg-gradi)),
      url(../images/background/bg-desk1x-min.jpg);
  }

  @each $density, $image in ('2x': 'bg-mob2x-min.jpg', '3x': 'bg-mob3x-min.jpg')
  {
    @media (min-device-pixel-ratio: #{$density}),
      (min-resolution: calc(#{$density} * 96dpi)) {
      background-image: linear-gradient(var(--bg-gradi)),
        url(../images/background/#{$image});
    }
  }

  @media screen and (min-width: 768px) {
    @each $density,
      $image in ('2x': 'bg-tab2x-min.jpg', '3x': 'bg-tab3x-min.jpg')
    {
      @media (min-device-pixel-ratio: #{$density}),
        (min-resolution: calc(#{$density} * 96dpi)) {
        background-image: linear-gradient(var(--bg-gradi)),
          url(../images/background/#{$image});
      }
    }
  }

  @media screen and (min-width: 1200px) {
    @each $density,
      $image in ('2x': 'bg-desk2x-min.jpg', '3x': 'bg-desk3x-min.jpg')
    {
      @media (min-device-pixel-ratio: #{$density}),
        (min-resolution: calc(#{$density} * 96dpi)) {
        background-image: linear-gradient(var(--bg-gradi)),
          url(../images/background/#{$image});
      }
    }
  }

  @media screen and (min-width: 320px) and (max-width: 1199px) {
    padding-top: 118px;
    padding-bottom: 118px;
  }
}

.hero-title {
  display: inline-block;
  font-weight: 900;
  font-size: 26px;
  line-height: calc(42 / 26);
  letter-spacing: 0.06em;
  color: var(--white-color);
  margin-bottom: var(--typical-gap);
  max-width: 360px;
  height: 84px;
  text-transform: uppercase;

  @media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: calc(60 / 44);
    max-width: 696px;
    height: 120px;
  }
}

.hero-title__button {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  text-decoration: none;
  color: var(--white-color);
  background-color: var(--title-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: #188ce8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
  }
}
