.logo-head {
    font-family: var(--second-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    margin-right: 93px;
}

.accent1 {
    color: var(--accent-color);
}