.section-features {
    padding-top: var(--next-typical-gap);
    padding-bottom: var(--next-typical-gap);
    align-items: center;
    margin: 0 auto;
}

.feature__icon {
    display: flex;
}

.features {
    display: flex;
}

.feature__benefits {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: var(--accent-color);
}

.feature__text {
    width: 270px;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.feature__item {
    margin-right: var(--typical-gap);
}

.feature__item:nth-child(4n) {
    margin-right: 0;
}

.feature__item:nth-last-child(-n+4) {
    margin-bottom: 0;
}

.thumb {
    align-items: center;
    display: flex;
    margin-bottom: 30px;
    justify-content: center;
    background-color: #F5F4FA;
    border-radius: 4px;
    width: 270px;
    height: 120px;
}