.menu-button {
    display: inline-flex;
    margin: 0;
    padding: 0;
    bottom: none;
    margin-left: auto;
    background-color: transparent;

    @media screen and (min-width: 768px) {
        display: none;        
    }
}

.menu-button .icon-cross {
    display: none;
}

.menu-button.is-open .icon-cross {
    display: block;
}

.menu-button.is-open .icon-menu {
    display: none;
}

.header {
    position: relative;
}

.menu-container {
    background-color: #FFFFFF;
    z-index: 999;
    text-align: left;
    font-size: 20px;

    // transform: translateX(100%);
    // transition: transform 250ms ease-in-out;
    @media screen and (max-width: 767px) {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 480px;
        height: 796px;
        padding: 32px;
    }

    @media screen and (min-width: 768px) {
        display: flex;
    }
}

.menu-container.is-open {
    display: block;
}

// .navigation, .contacts {
//     height: 40px;
//     width: 50px;
// }

// .navigation {
//     outline: 1px solid teal;
// }

// .contacts {
//     outline: 1px solid orange;
// }



// .menu-toggle {
//     min-height: 40px;
//     min-width: 40px;
//     display: flex;
//     align-items: center;
//     justify-content: center;

//     margin: 0;
//     padding: 0;
//     background-color: transparent;
//     cursor: pointer;
//     border: none;
//     border-radius: 50%;
//     outline: none;
// }

// @media (min-width: 768px) {
//     .menu-toggle {
//         display: none;
//     }
// }

// .menu-toggle:hover,
// .menu-toggle:focus {
//     background-color: rgba(0, 0, 0, 0.1);
// }



// .mobile-menu.is-open {
//     transform: translateX(0);
// }

// .mobile-menu .menu-toggle {
//     position: absolute;
//     top: 16px;
//     right: 16px;
//     color: #fff;
// }

// .mobile-menu .header-list {
//     padding: 0;
//     margin: 0;
//     list-style: none;
// }

// .mobile-menu .header-list .link {
//     display: block;
//     padding: 10px;
//     color: #fff;
//     text-decoration: none;
// }


// .menu-overlay {
//     position: fixed;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     z-index: 100;
//     background-color: #FFFFFF;
//     box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 
//     0px 2px 4px rgba(0, 0, 0, 0.08), 
//     0px 1px 3px rgba(0, 0, 0, 0.16);
  
//     opacity: 0;
//     pointer-events: none;
//     visibility: hidden;

//     transition: opacity var();

//     @media screen and (min-width: 768px) {
//         display: none; 
//     }

//     &.is-open {
//         opacity: 1;
//         pointer-events: initial;
//         visibility: visible;
//     }
// }

// .mobile-menu {
//     display: flex;
//     flex-direction: column;
//     margin-left: auto;
//     max-width: 450px;
//     height: 100%;
//     background-color: #FFFFFF;
//     padding: 48px 83px 48px 40px;

//     transform: translateX(100%);
//     transition: transform var();

//     .menu-overlay.is-open & {
//         transform: translateX(0);
//     }
// }

.mobile-list:first-child {
    margin-bottom: auto;
}

.mobile-list:nth-child(2) {
    margin-bottom: 40px;
}

.mobile-socials {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.mobile-socials-item:not(:last-child) .mobile-socials-link {
    display: flex;
    padding-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
}

// @media screen and (min-width: 768px) {
//     .logo-tab {
//         margin-right: 88px;
//     }
// }

