body {
  font-family: var(--main-font);
  letter-spacing: 0.03em;
  background-color: var(--white-color);
  color: var(--primery-text-color);
}

body.modal-open {
  overflow: hidden;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ol,
ul,
li {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

.link {
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
