:root {
    --primery-text-color: #757575;
    --title-text-color: #2196F3;
    --accent-color: #212121;
    --white-color: #ffffff;
    --typical-gap: 30px;
    --next-typical-gap: 94px;
    --fill-color: #F5F4FA;
    --svg-color: #AFB1B8;
    --main-font: 'Roboto', sans-serif;
    --second-font: 'Raleway', sans-serif;
    --bg-gradi: rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4);
}





